<?xml version="1.0"?>
<model>
  <name>RectangularReflector</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>
  <description>
    A simple 5 cm radius circular reflector with laser_retro=1000
  </description>
</model>
